<div class="row">
    <div class="col-2 bg-info">
        <a routerLink="/"><img src="assets/logo.png" width="90"></a>
    </div>
    <div class="col-10 bg-info">
        <ul class="nav justify-content-center pt-4">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/home">Mis historietas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/things">Mis Cosas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/friends">Mis Colegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/events">Eventos</a>
            </li>
        </ul>
    </div>
    <div class="col-12 mt-5">
        <div class="card mb-3 p-3">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="assets/user_pic.png" width="70" class="card-img" alt="Imagen de usuario default">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title pt-5">ISMAEL PASCUAL CALVO</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>