<ng-container *ngIf="message?.usersId">
    <div class="card mb-3 p-3">
        <div class="row no-gutters">
            <div class="col-md-1">
                <img src="assets/msg.png" class="card-img" alt="Mensaje icono">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <h5 class="card-title">PUBLICADOR ID {{message.usersId}}</h5>
                    <p class="card-text">{{message.content}}</p>
                    <p class="card-text"><small class="text-muted">{{message.publishDate | date}}</small></p>
                    <p class="text-right">
                        <button type="button" class="btn btn-success"><i class="fa fa-2x fa-hand-peace-o" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-warning"><i class="fa fa-2x fa-hand-rock-o" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger"><i class="fa fa-2x fa-thumbs-o-down" aria-hidden="true"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>