<ng-container *ngIf="message?.usersId">
    <div class="card mb-3 p-3">
        <div class="row no-gutters">
            <div class="col-md-1">
                <img src="assets/msg.png" class="card-img" alt="Mensaje icono">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <h5 class="card-title">PUBLICADOR ID {{message.usersId}}</h5>
                    <p class="card-text">{{message.content}}</p>
                    <p class="card-text"><small class="text-muted">{{message.publishDate | date}}</small></p>
                </div>
            </div>
        </div>
    </div>
</ng-container>